In [1]:
import pandas as pd
df = pd.read_csv('/Users/uczhn/Documents/AZURE_DATA_SCIENCE_PYTHON/Data/fibro_dataset.csv')
df.columns

Index(['patientid', 'diseaase_prog_new', 'disease_mortality_new', 'd_ipf',
       'disease_PROG', 'disease_MORTcens', 'DOD', 'censordate', 'd_v1date',
       'bmi', 'd_male', 'age', 'd_type', 'd_smoking', 'd_pfh', 'comorbidcount',
       'base_fvcpp', 'base_dlcopp', 'base_fev1_fvc', 'base_fibro', 'FI_fibro',
       'base_hb', 'base_wcc', 'base_plate', 'base_alt', 'base_gt', 'base_bili',
       'base_tap', 'base_cre', 'base_cc', 'base_esr', 'base_urea', 'base_crp',
       'base_k', 'base_ace', 'base_rf', 'base_alb', 'base_na',
       'base_visit_ca125', 'base_visit_ca199', 'base_visit_cea',
       'base_visit_mmp7mean', 'delta_fvc', 'fibro_6m'],
      dtype='object')

In [2]:
# grouping variable is d_male and aggregrarting columns is bmi

In [2]:
df.groupby('d_male').agg({'bmi':'mean'}).head()

              bmi
d_male
0.0     30.308619
1.0     28.650232

In [3]:
df.groupby('d_male').agg({'bmi':'max'})

             bmi
d_male
0.0     39.68750
1.0     44.04479

In [4]:
df.groupby('d_male')['bmi'].agg('mean')

d_male
0.0    30.308619
1.0    28.650232
Name: bmi, dtype: float64

# min max mean median sum count std var size describe nunique idxmin idxmax

In [5]:
df.groupby('d_male')['bmi'].agg('count')

d_male
0.0    30
1.0    89
Name: bmi, dtype: int64

In [6]:
df.groupby('d_male')['bmi'].agg('unique')

d_male
0.0    [17.06766, 33.36718, 28.3907, 37.48125, 27.755...
1.0    [25.69731, 24.79339, 30.491490000000002, 31.03...
Name: bmi, dtype: object

In [7]:
df.groupby('d_male')['bmi'].agg('sum')

d_male
0.0     909.25858
1.0    2549.87063
Name: bmi, dtype: float64

In [8]:
df.groupby('d_male')[['bmi','age']].agg('describe')

         bmi                                                                 \
       count       mean       std       min       25%        50%        75%
d_male
0.0     30.0  30.308619  5.423576  17.06766  26.74349  30.061825  34.895867
1.0     89.0  28.650232  4.541610  19.37716  25.75717  28.562740  31.195100

                   age                                                       \
             max count       mean       std       min        25%        50%
d_male
0.0     39.68750  30.0  72.002740  7.862970  57.10959  67.367807  73.231505
1.0     44.04479  89.0  71.986517  8.459925  47.64931  67.673970  73.328770


              75%       max
d_male
0.0     77.830143  85.72877
1.0     78.638360  86.05479

# multiple grouping

In [9]:
df.groupby('d_male')[['bmi','age']].agg(['mean','min'])

              bmi                  age
             mean       min       mean       min
d_male
0.0     30.308619  17.06766  72.002740  57.10959
1.0     28.650232  19.37716  71.986517  47.64931

In [12]:
# number of smokers per gender for patients with bmi

In [13]:
df.groupby(['d_smoking','d_male'])[['bmi','age']].agg(['mean','min','size'])

                        bmi                       age
                       mean       min size       mean       min size
d_smoking d_male
0.0       0.0     30.033708  23.93606   11  75.482690  67.09315   11
          1.0     28.434727  19.37716   18  72.254489  62.56986   18
1.0       0.0     30.467778  17.06766   19  69.988032  57.10959   19
          1.0     28.704867  20.41522   71  71.918580  47.64931   71

# a more flexible way of using different aggregration functions

In [11]:
group_cols = ['d_smoking','d_male']
agg_dict = {'bmi':['sum', 'mean','size'],'age':['mean', 'var', 'size']}
df.groupby(group_cols).agg(agg_dict)

                         bmi                        age
                         sum       mean size       mean        var size
d_smoking d_male
0.0       0.0      330.37079  30.033708   11  75.482690  32.197294   11
          1.0      511.82508  28.434727   18  72.254489  22.576450   18
1.0       0.0      578.88779  30.467778   19  69.988032  70.036505   19
          1.0     2038.04555  28.704867   71  71.918580  84.468132   71

# manipulating multiple indexes

In [19]:
group_cols = ['d_smoking','d_male']
agg_dict = {'bmi':['sum', 'mean','size'],'age':['mean', 'var']}
res = df.groupby(group_cols).agg(agg_dict).astype(int)
# the .astype(int)  at the end changes values and return only the intergers

In [21]:
res

                   bmi            age
                   sum mean size mean var
d_smoking d_male
0.0       0.0      330   30   11   75  32
          1.0      511   28   18   72  22
1.0       0.0      578   30   19   69  70
          1.0     2038   28   71   71  84

# Let's display the output of each level and then concatenate both levels before setting it as the new column values:

In [22]:
 
level0 = res.columns.get_level_values(0)
level0

Index(['bmi', 'bmi', 'bmi', 'age', 'age'], dtype='object')

In [23]:
level1 = res.columns.get_level_values(1)
level1

Index(['sum', 'mean', 'size', 'mean', 'var'], dtype='object')

In [24]:
res.columns = level0 + '_' + level1

In [25]:
res

                  bmi_sum  bmi_mean  bmi_size  age_mean  age_var
d_smoking d_male
0.0       0.0         330        30        11        75       32
          1.0         511        28        18        72       22
1.0       0.0         578        30        19        69       70
          1.0        2038        28        71        71       84

# Return the row labels to a single level with reset_index:

In [22]:

res.reset_index()

   d_smoking  d_male  bmi_sum  bmi_mean  bmi_size  age_mean  age_var
0        0.0     0.0      330        30        11        75       32
1        0.0     1.0      511        28        18        72       22
2        1.0     0.0      578        30        19        69       70
3        1.0     1.0     2038        28        71        71       84

In [26]:
group_cols = ['d_smoking','d_male']
agg_dict = {'bmi':['sum', 'mean','size'],'age':['mean', 'var']}
res = df.groupby(group_cols, as_index=False).agg(agg_dict).round(0)
res

  d_smoking d_male     bmi              age
                       sum  mean size  mean   var
0       0.0    0.0   330.0  30.0   11  75.0  32.0
1       0.0    1.0   512.0  28.0   18  72.0  23.0
2       1.0    0.0   579.0  30.0   19  70.0  70.0
3       1.0    1.0  2038.0  29.0   71  72.0  84.0

# use of query

In [24]:
df.head()

,patientid,diseaase_prog_new,disease_mortality_new,d_ipf,disease_PROG,disease_MORTcens,DOD,censordate,d_v1date,bmi,...,base_ace,base_rf,base_alb,base_na,base_visit_ca125,base_visit_ca199,base_visit_cea,base_visit_mmp7mean,delta_fvc,fibro_6m
0,PRO043,0.0,0.0,1.0,0.0,0.0,NaN,31-Mar-16,23-Nov-11,17.06766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025955,0.5390
1,PRO044,1.0,0.0,0.0,1.0,0.0,NaN,31-Mar-16,24-Nov-11,33.36718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2000
2,PRO045,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,15-Dec-11,25.69731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.028283,0.5585
3,PRO047,0.0,0.0,1.0,0.0,0.0,NaN,31-Mar-16,03-Feb-12,24.79339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.031383,10.6100
4,PRO048,0.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,08-Feb-12,30.49149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.036052,5.8250

In [25]:
df.query('diseaase_prog_new == 1')

,patientid,diseaase_prog_new,disease_mortality_new,d_ipf,disease_PROG,disease_MORTcens,DOD,censordate,d_v1date,bmi,...,base_ace,base_rf,base_alb,base_na,base_visit_ca125,base_visit_ca199,base_visit_cea,base_visit_mmp7mean,delta_fvc,fibro_6m
1,PRO044,1.0,0.0,0.0,1.0,0.0,NaN,31-Mar-16,24-Nov-11,33.36718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2000
2,PRO045,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,15-Dec-11,25.69731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.028283,0.5585
5,PRO049,1.0,0.0,1.0,0.0,0.0,NaN,31-Mar-16,01-Mar-12,31.03765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.003445,18.8250
7,PRO052,1.0,1.0,1.0,1.0,1.0,30/03/2013,31-Mar-16,02-Apr-12,24.38272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.087205,15.0000
8,PRO053,1.0,1.0,1.0,1.0,1.0,26/12/2013,31-Mar-16,26-Apr-12,31.53518,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.049107,11.1200
9,PRO054,1.0,1.0,1.0,1.0,1.0,15/06/2014,31-Mar-16,01-May-12,28.01041,...,NaN,NaN,34.00,140.0,7.0,41.0,1.0,785.0,-0.128761,6.2450
10,PRO055,1.0,1.0,1.0,1.0,1.0,27/03/2013,31-Mar-16,19-Jun-12,37.48125,...,NaN,NaN,32.00,139.0,12.0,25.0,1.0,915.0,0.141543,7.5350
11,PRO056,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,26-Jun-12,27.07992,...,NaN,30.0,35.00,136.0,29.0,17.0,2.0,358.0,-0.070256,10.1600
13,PRO058,1.0,0.0,0.0,1.0,0.0,NaN,31-Mar-16,17-Jul-12,41.80839,...,NaN,NaN,32.00,NaN,NaN,NaN,NaN,NaN,-0.021477,6.4000
14,PRO059,1.0,1.0,1.0,1.0,1.0,27/02/2014,31-Mar-16,25-Jul-12,31.09789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.188079,12.3000
15,PRO060,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,24-Jul-12,38.25021,...,NaN,NaN,37.00,138.0,15.0,39.0,3.0,461.0,-0.046359,2.8150
16,PRO061,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,15-Aug-12,27.75510,...,NaN,NaN,33.00,139.0,20.0,418.0,3.0,600.0,-0.142812,5.2150
18,PRO063,1.0,1.0,1.0,1.0,1.0,10/04/2013,31-Mar-16,19-Sep-12,28.39506,...,NaN,0.0,NaN,138.0,15.0,32.0,1.0,862.0,0.036583,2.8600
19,PRO065,1.0,1.0,1.0,1.0,1.0,06/10/2013,31-Mar-16,07-Nov-12,30.44983,...,NaN,NaN,37.00,134.0,21.0,22.0,1.0,456.0,NaN,1.6450
20,PRO066,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,27-Nov-12,30.67270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,931.0,-0.031065,1.0890
22,PRO068,1.0,1.0,1.0,1.0,1.0,20/03/2013,31-Mar-16,04-Dec-12,20.41522,...,NaN,NaN,NaN,NaN,48.0,47.0,2.0,1658.0,NaN,NaN
23,PRO070,1.0,1.0,1.0,1.0,1.0,10/05/2014,31-Mar-16,19-Dec-12,31.48789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.109469,5.5150
24,PRO071,1.0,1.0,1.0,1.0,1.0,14/03/2013,31-Mar-16,09-Jan-13,33.62241,...,NaN,NaN,22.00,138.0,17.0,24.0,2.0,831.0,NaN,NaN
27,PRO074,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,06-Feb-13,23.38869,...,NaN,NaN,NaN,NaN,9.0,9.0,1.0,663.0,-0.132263,9.6200
32,PRO079,1.0,0.0,1.0,0.0,0.0,NaN,31-Mar-16,24-Apr-13,27.38814,...,NaN,NaN,NaN,139.0,10.0,13.0,1.0,1244.0,-0.034378,NaN
33,PRO080,1.0,1.0,1.0,1.0,1.0,30/10/2014,31-Mar-16,25-Jun-13,21.66090,...,NaN,NaN,37.00,141.0,18.0,50.0,4.0,893.0,-0.026502,NaN
34,PRO081,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,01-Jul-13,35.31513,...,NaN,0.0,34.00,NaN,29.0,32.0,5.0,647.0,0.034413,NaN
37,PROB009,1.0,1.0,0.0,1.0,1.0,15/04/2014,31-Mar-16,19-Jul-12,44.04479,...,NaN,NaN,41.00,139.0,NaN,NaN,NaN,NaN,-0.036152,11.1000
42,PROB014,1.0,1.0,0.0,1.0,1.0,29/03/2015,31-Mar-16,11-Dec-12,25.75717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.082556,23.0000
43,PROB015,1.0,1.0,1.0,1.0,1.0,07/10/2013,31-Mar-16,26-Mar-13,31.91222,...,12.8,15.0,44.00,130.0,10.0,15.0,1.0,444.0,-0.076253,NaN
45,PROC001,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,04-Feb-13,23.06485,...,NaN,NaN,41.00,140.0,25.0,168.0,6.0,546.0,NaN,NaN
46,PROD005,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,25-Jan-12,26.48148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.052633,8.1050
47,PROD006,1.0,1.0,1.0,1.0,1.0,22/10/2015,31-Mar-16,20-Dec-11,33.11420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.077393,2.4200
48,PROD007,1.0,1.0,1.0,0.0,1.0,18/12/2015,31-Mar-16,10-Jan-12,32.46194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.044602,1.7850
50,PROD009,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,27-Jan-12,28.28053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.030248,0.6150
52,PROD011,1.0,1.0,1.0,1.0,1.0,08/10/2013,31-Mar-16,09-Mar-12,31.18454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.075495,4.7900
54,PROD013,1.0,1.0,1.0,1.0,1.0,10/12/2015,31-Mar-16,14-Mar-12,31.88775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.062296,2.8300
57,PROD016,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,30-May-12,25.98579,...,NaN,NaN,NaN,NaN,12.0,4.0,1.0,575.0,-0.056136,1.9150
58,PROD017,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,02-Jul-12,27.25325,...,NaN,NaN,42.00,143.0,13.0,18.0,1.0,411.0,NaN,7.6700
61,PROD020,1.0,1.0,1.0,1.0,1.0,21/04/2013,31-Mar-16,24-Oct-12,26.95568,...,NaN,NaN,2.45,138.0,20.0,37.0,1.0,837.0,NaN,NaN
65,PROD025,1.0,1.0,1.0,1.0,1.0,12/11/2015,31-Mar-16,28-Jan-13,23.80623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.054626,7.3800
66,PROD026,1.0,1.0,1.0,1.0,1.0,28/11/2014,31-Mar-16,23-Apr-13,34.68679,...,NaN,NaN,34.00,139.0,15.0,19.0,2.0,478.0,-0.044415,NaN
67,PROD027,1.0,1.0,1.0,1.0,1.0,30/01/2014,31-Mar-16,18-Jun-13,21.23359,...,NaN,25.0,NaN,139.0,20.0,4072.0,2.0,1091.0,-0.235479,NaN
71,PRODB004,1.0,1.0,1.0,1.0,1.0,24/09/2014,31-Mar-16,28-Nov-12,30.08039,...,NaN,20.0,NaN,40.0,26.0,175.0,1.0,921.0,0.029709,14.4000
72,PRODB005,1.0,1.0,1.0,0.0,1.0,02/03/2016,31-Mar-16,20-Feb-13,34.96556,...,NaN,NaN,38.00,142.0,26.0,697.0,2.0,746.0,NaN,NaN
73,PRODB006,1.0,1.0,1.0,1.0,1.0,04/03/2014,31-Mar-16,19-Jun-13,27.98898,...,NaN,NaN,NaN,NaN,23.0,427.0,4.0,544.0,-0.056645,NaN
74,PROK030,1.0,1.0,1.0,1.0,1.0,28/09/2012,31-Mar-16,18-Nov-11,23.79630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003724,0.2315
75,PROK031,1.0,1.0,0.0,0.0,1.0,10/11/2013,31-Mar-16,14-Mar-12,31.75971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.075591,24.1000
81,PROK038,1.0,1.0,0.0,1.0,1.0,25/10/2015,31-Mar-16,28-Sep-12,36.16042,...,NaN,0.0,35.00,NaN,NaN,NaN,NaN,NaN,-0.046649,9.4450
83,PROK040,1.0,1.0,1.0,1.0,1.0,07/03/2015,31-Mar-16,11-Dec-12,35.47277,...,NaN,58.1,45.00,NaN,36.0,350.0,4.0,628.0,-0.027499,6.3800
85,PROK042,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,01-Feb-13,25.76169,...,NaN,11.6,39.00,NaN,25.0,78.0,3.0,1512.0,-0.044578,1.7550
87,PROK045,1.0,1.0,0.0,1.0,1.0,16/08/2014,31-Mar-16,19-Feb-13,32.80864,...,NaN,0.0,42.00,NaN,NaN,NaN,NaN,NaN,NaN,5.7450
91,PROK049,1.0,0.0,1.0,0.0,0.0,NaN,31-Mar-16,30-Apr-13,31.19510,...,NaN,NaN,37.00,NaN,7.0,15.0,2.0,380.0,0.019908,NaN
93,PROK051,1.0,1.0,0.0,1.0,1.0,01/02/2014,31-Mar-16,10-May-13,28.50175,...,NaN,0.0,36.00,NaN,NaN,NaN,NaN,NaN,-0.093012,NaN
94,PROK052,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,31-May-13,20.42969,...,NaN,0.0,NaN,NaN,17.0,89.0,2.0,238.0,-0.031012,NaN
96,PROK054,1.0,1.0,1.0,1.0,1.0,04/05/2014,31-Mar-16,13-Jun-13,26.50519,...,NaN,256.5,33.00,NaN,20.0,51.0,6.0,NaN,NaN,NaN
101,PROL009,1.0,1.0,1.0,1.0,1.0,29/06/2013,31-Mar-16,10-Sep-12,22.51486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5150
106,PROLDS004,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,15-Apr-13,27.47253,...,NaN,20.0,41.00,141.0,17.0,20.0,2.0,455.0,-0.051866,NaN
107,PROS005,1.0,1.0,1.0,0.0,1.0,08/09/2014,31-Mar-16,14-Nov-11,25.50441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.026267,0.8690
114,PROW003,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,30-Nov-12,33.30898,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7450
117,PROW006,1.0,0.0,1.0,1.0,0.0,NaN,31-Mar-16,30-May-13,30.87307,...,NaN,NaN,46.00,141.0,9.0,9.0,2.0,369.0,-0.041213,NaN

# The groupby object has four methods:  agg, filter, transform, and apply

In [ ]:
# agg must return a scalar value, 
#filter must return a boolean, and 
# transform must return a Series with the same length as the passed group. 
# apply method, however, may return a scalar value, a Series, or even a DataFrame of any shape, therefore making it very flexible

In [ ]:
# stop 254

# Grouping by continuous variables

In [26]:
df['bmi'].min()

17.06766

In [27]:
df['bmi'].max()

44.04479

In [34]:
import numpy as np 
bins = [25, 35]
cuts = pd.cut(df['bmi'], bins=bins)

In [35]:
cuts

0               NaN
1      (25.0, 35.0]
2      (25.0, 35.0]
3               NaN
4      (25.0, 35.0]
           ...
125             NaN
126             NaN
127             NaN
128             NaN
129             NaN
Name: bmi, Length: 130, dtype: category
Categories (1, interval[int64]): [(25, 35]]